<div class="row">
    <div class="col-md-6">
        <input  class="form-control" placeholder="Username" required type="text" name="username" [(ngModel)]="username">
        <br>
        <button class="btn btn-default" (click)="setUsername()">Login</button>
    </div>
  </div>
  <h1>Socket Chat</h1>
    <div *ngIf="alert">
        
        <div *ngFor="let msg of messages">
          <div class="well"><strong>{{msg.username}} : </strong>{{msg.text}}</div>
        </div>
        <input class="form-control" type="text" name="message" [(ngModel)]="message" placeholder="Enter message..." (keyup.enter)="sendMessage()">
    </div>
      
      <div class="text-center" *ngIf="!alert">
        Please login to chat
      </div>


